body{
    text-align: center;
    background-color: rgb(212, 148, 169);
    color: black;
}

.foto-perfil{
    border-radius: 50%;
    width: 20%;
    height: 50%;
    float: left;

}

.m1{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}